@* TITLE to NAV TO *@
@page "/aboutus"
@using MedicalPrac.Components

@* HTML *@
<h3>AboutUs</h3>
<div>
    <p>Some cool medical facts about us</p>
    <AboutUsCard AboutTitle="Cool Med Fact 1"
                 AboutDate="17"
                 AboutLink="somelink"
                 AboutPhone="1234 56789" />

    <AboutUsCard AboutTitle="Cool Med Fact 2"
                 AboutDate="17"
                 AboutLink="someOtherLink"
                 AboutPhone="0000 00000" />
</div>

@code {
    //C# code here
    int x = 10;
}

@* 
<style>

</style *@