@page "/patientdetial"
@using MedicalPrac.Components

<h3>Patient Details</h3>

<PatientCard PatientName="John Doe"
             PatientAge="30"
             PatientEmail="john@example.com"
             PatientPhone="(123) 456-7890" />

<PatientCard PatientName="Jane Doe"
             PatientAge="35"
             PatientEmail="jane@example.com"
             PatientPhone="(999) 123-4567" />

<PatientCard PatientName="NOTHING"
             PatientAge="30"
             PatientEmail="NOTHING.com"
             PatientPhone="1111 11111" />

@code {

}
